Flask
chromadb
PyPDF2
sentence-transformers
google-generativeai
python-dotenv
langchain
python-pptx
youtube-transcript-api
flask-cors
regex
pymongo
jwt
werkzeug
boto3
langchain-core
langchain-groq
faiss-cpu
PyMuPDF
langchain-embeddings